.audio-player {
    width: 300px;
    height: 200px;
    border: 3px solid black;
}
.start {
    display: block;
}
#start-button {
    width: 30px;
    height: 30px;
}
#stop-button {
    width: 30px;
    height: 30px;
}
#backward {
    width: 30px;
    height: 30px;
}
#forward {
    width: 30px;
    height: 30px;
}
.stop {
    display: none;
}
.song-number {
    display: none;
}
#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}